---
import { dairy, fat, flour, fruit, protein, vegetables } from "../data";
import { Ration } from "../components/Ration";
import Layout from "../layouts/Layout.astro";
import { Equivalence } from "../components/Equivalence";
import { Header } from "../components/Header";
import { FoodGrid } from "../components/FoodGrid";
---

<Layout title="Index">
  <div class="flex flex-col gap-y-4">
    <FoodGrid client:load />
    <Equivalence />
  </div>
</Layout>
