---
import type { FoodCategory } from "../data";
import { TypeFood } from "./TypeFood";

export interface Props {
  title: string;
  elements: FoodCategory[];
}

const { title, elements } = Astro.props;
---

<div>
  <h2 class="mb-1 text-xl">{title}</h2>
  <TypeFood client:only elements={elements} />
</div>
