---
import type { FoodCategory } from "../data";
import { TypeFood } from "./TypeFood";

export interface Props {
  title: string;
  elements: FoodCategory[];
}

const { title, elements } = Astro.props;
---

<div>
  <label>{title}</label>
  <TypeFood client:only elements={elements} />
</div>
